{% extends "base.html" %}

{% block content %}

<h2>Hackathon Review Queue</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Hackathon Submitted On</th>
    <th>Action</th>
  </tr>

  {% for row in candidates %}
  <tr>
    <td>{{ row.candidate.name }}</td>
    <td>{{ row.candidate.phone }}</td>
<td>
  {% if row.candidate.submission %}
    {{ row.candidate.submission.submitted_at.strftime("%Y-%m-%d %H:%M:%S") }}
  {% else %}
    -
  {% endif %}
</td>    <td>
  {% if row.already_reviewed %}

    <span class="badge badge-muted">Reviewed ✔</span>

  {% elif row.review_count < 2 %}

    {% if user.role == "admin" %}

      <a href="{{ request.url_for('hr_review_summary', candidate_id=row.candidate.id).path }}"
         class="badge badge-warning">
        In Progress
      </a>

    {% else %}

      <a href="{{ request.url_for('senior_review_page', candidate_id=row.candidate.id).path }}">
        Review
      </a>

    {% endif %}

  {% else %}

    {% if user.role == "admin" %}

      <a href="{{ request.url_for('hr_review_summary', candidate_id=row.candidate.id).path }}"
         class="badge badge-success">
        Completed
      </a>

    {% else %}

      <span class="badge badge-success">Completed</span>

    {% endif %}

  {% endif %}
</td>
  </tr>
  {% endfor %}

</table>

{% endblock %}